/*
NORMALIZE CSS:
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
  height: 100%;
}

.modal {
  overflow: hidden;
}

.modal .blur {
  filter: blur(1px);
}

.next-home-image {
  border-radius: 12px;
}

.next-home-nonprofit-logo {
  border-radius: 100%;
}

.next-avatar {
  border-radius: 999px;
}

@media screen and (min-width: 56.25em) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 112.5em) {
  html {
    /* font-size: 24px; */
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#__next {
  height: 100%;
}

@font-face {
  font-family: 'Basis Grotesque Pro';
  src: local('BasisGrotesque Pro'),
    url(https://assets.every.org/every-month/BasisGrotesque-Regular-Pro.woff2)
      format('woff2'),
    local('Helvetica Neue'), local('system'), local('sans-serif');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basis Grotesque Pro';
  src: local('BasisGrotesque Pro'),
    url(https://assets.every.org/every-month/BasisGrotesque-Bold-Pro.woff2)
      format('woff2'),
    local('Helvetica Neue'), local('system'), local('sans-serif');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basis Grotesque Pro';
  src: local('BasisGrotesque Pro'),
    url(https://assets.every.org/every-month/BasisGrotesque-Medium-Pro.woff2)
      format('woff2'),
    local('Helvetica Neue'), local('system'), local('sans-serif');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
