/*
NORMALIZE CSS:
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

@media screen and (min-width: 56.25em) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 112.5em) {
  html {
    font-size: 20px;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #efefef;
  height: '100%';
}

@font-face {
  font-family: 'Basis Grotesque Pro';
  src: local('Basis Grotesque Pro'), local('Basis Grotesque Pro'),
    url(https://assets.every.org/every-month/BasisGrotesque-Regular-Pro.woff2)
      format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Basis Grotesque Pro';
  src: local('Basis Grotesque Pro'), local('Basis Grotesque Pro'),
    url(https://assets.every.org/every-month/BasisGrotesque-Bold-Pro.woff2)
      format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Basis Grotesque Pro';
  src: local('Basis Grotesque Pro'), local('Basis Grotesque Pro'),
    url(https://assets.every.org/every-month/BasisGrotesque-Medium-Pro.woff2)
      format('woff2');
  font-weight: 500;
  font-style: normal;
}
